# Objetos y binarios C
*.o
*.a
*.so
*.dylib
a.out

# Ejecutables genéricos
*.exe

# Compilación / CMake
/build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

# CLion
.idea/

# Logs temporales
*.log

# macOS
.DS_Store

.vscode/*